body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/*header*/
.header-class {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}

.container-two {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header .nav-link {
    /*ljg*/
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px; /*для визначення відступа від логотипа*/
}

.logo-studio {
    color: #2e2f42;
    font-family: "Raleway";
}

.page-nav {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px; /*для визначення відступів між пунктами меню*/
}

.page-nav a.nav-link:hover {
    color: #404bbf;
}

.page-nav a.nav-link:focus {
    color: #404bbf;
}

.page-nav:hover {
    color: #4D5AE5;
}

.page-nav:active {
    color: #404BBF;
}

.nav-link {
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
    margin: 0;
    padding-left: 0;
    display: block;
    display: block;
    padding: 24px 0;
    position: relative;
    /*для встановлення позиціонування елемента відносно його звичайного місця в потоці документу*/
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link a:hover {color: #404bbf;}
.nav-link a:focus {color: #404bbf;}

.a .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.address {
    font-style: normal;
    display: flex;/*для розташування контактів по горизонталі*/
    gap: 40px;/*для визначення відступів між пунктами контактів*/
}
.ul-kontakt {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px;
}
.kontakt {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.ul-kontakt .kontakt {transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.kontakt:hover {color: #404bbf;}
.kontakt:focus {color: #404bbf;}


/*section 1*/
.section-effective {
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0; /*для визначення відступів всередині секції*/
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /*для позиціонування зображення на всю площу фону елемента*/
}



.h-effective {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding: 0;
    max-width: 496px;
    height: 120px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; /*для вимкнення стандартного оформлення кнопки*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px; /*для визначення заокруглень у кнопки*/
    margin: 0 auto; /* Центрування горизонтально */
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/*section 2*/

.section-about {
    padding: 120px 0 120px; /*для визначення відступів всередині секції*/
}

.h-about {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ull {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}


.li-about {
    flex-basis: calc((100% - 3 * 24px) / 4); /*для визначення ширини пункту списку*/
}

.icons-svg {
    display: flex;
    align-items: center; /*по вертикалі*/
    justify-content: center; /*по горизонталі*/
    height: 112px; /*висотa блоку*/
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.icon-svg {
    display: flex;
    flex-shrink: 0;
}



.h-aboutus {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    text-indent: 0%;
    margin-bottom: 8px;  /*для визначення відступу між заголовком і параграфом*/
}

.p-aboutus {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
    text-indent: 0%;
}

/*section 3*/
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.h-ourteam {
    font-family: "Roboto";
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
    font-weight: 700;


}


.ul-ourteam {
    margin: 0;
    padding-left: 0; /*для визначення відступів між заголовком та параграфом*/
    display: flex; /*для розміщення елементів списку по горизонталі в рядок*/
    gap: 24px; /*для визначення розмірів відступів між елементами списку*/
}

.li-productdesigner {
    background-color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    border-radius: 0px 0px 4px 4px; /*для визначення заокруглень внизу блока*/
    width: calc((100% - 72px) / 4); /*для визначення ширини пункту списку*/
    gap: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

img {
    display: block;
}

.image-container {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;
        padding: 32px 0; /*для визначення відступів від краю контейнера*/
        display: flex;
        width: 232px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
}

.h-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}

.p-people {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
    text-align: center;
}

.ul-ellipse {
    display: flex; /*для розміщення елементів списку по горизонталі в рядок*/
    justify-content: center; /*для вирівнювання елементів по горизонталі*/
    gap: 24px; /*для визначення розмірів відступів між елементами списку*/
    list-style: none;
}

.li-ellipse {
    width: 40px;
    height: 40px;
    
}
.ul-ellipse .li-ellipse .link-ellipse {transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*для плавної зміни кольору фону елемента*/}

.link-ellipse {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5; /*колір фону елемента*/
    border-radius: 50%; /*встановлює радіуси кутів елемента*/
    display: flex; /*для подальшої можливості зміни розташування дочірнього елемента*/
    align-items: center; /*вирівнювання іконки по вертикалі*/
    justify-content: center; /*вирівнювання іконки по горизонталі*/
}

.link-ellipse:hover {background-color: #404BBF;}
.link-ellipse:focus {background-color: #404BBF;}

.icon-ellipse {
    fill: #f4f4fd; /*для визначення кольору іконки*/
}
/*section 4*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px; /*для визначення відступів всередині секції*/
}


.hh-portfolio {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
}

.ul-portfolio {
    display: flex; /*для розміщення елементів списку в рядок по горизонталі*/
    flex-wrap: wrap; /*для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому*/
    column-gap: 24px; /*для визначення горизонтальних відступів між пунктами списку*/
    row-gap: 48px; /*для визначення вертикальних відступів між елементами списку якщо вони переносяться на новий рядок*/
    margin: 0;
    padding: 0;
    
}


.li-portfolio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc((100% - 48px) / 3); /*для визначення ширини для елемента списку*/
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /*для плавної появи тіні*/
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        /*для визначення тіні для елемента при наведені мишкою*/
}

.li-portfolio:hover p {transform: translateY(0%);}

.img-portfolio {
    position: relative; /*для встановлення позиціонування елемента відносно його звичайного місця в потоці документу*/
    overflow: hidden; /*для приховання контенту, який виходить за межі елемента*/
}

.p-img-portfolio {
    position: absolute; /*що встановлює позиції елемента відносно його батьківського елемента*/
    top: 0; /*для зміщення елемента до верхньої межі контейнера*/
    font-size: 16px; /*для визначення розміру шрифту*/
    line-height: 1.5;/* для визначення простору між рядками*/
    letter-spacing: 0.02em; /*для визначення відстані між літерами*/
    color: #f4f4fd;
    padding: 40px 32px; /*відступів між вмістом елемента та його рамкою*/
    background-color: #4d5ae5; /*fon*/
    height: 100%;
    width: 100%;
    transform: translateY(100%); /*змінює позицію елемента вздовж осі Y*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /*дозволяє задавати анімаційний ефект для зміни значень властивостей стилю*/
}
.h-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 8px; /*для визначення відступу між заголовком та параграфом*/
}

.p-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
}




.img-container {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 32px 16px; /*для визначення відступів від країв контейнера*/
    border: 1px solid #e7e9fc; /*для визначення стилю обводки по периметру контейнера*/
    border-top: none; /*для скидання стилів обводки для верхнього краю контейнера*/
}

/*футер*/
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px; /*для визначення відступів всередині секції*/
    width: 1440px;
    height: 312px;
    display: flex;
    align-items: center;

}

.div-footer {
    display: flex;
    align-items: baseline;
}

.logo-p-footer {margin-right: 120px;}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block; /*для додавання посиланню блочних властивостей*/
    margin-bottom: 16px;  /*для визначення відступу між посиланням та параграфом*/
}

.logo-studio-footer {
    color: #f4f4fd;
    display: inline-block;
    
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    max-width: 264px; /*для визначення максимально допустимої ширини тексту*/
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "Roboto";
    text-align: left;
}

.p-socialmedia {
font-weight: 500; /*жирність шрифта*/
font-size: 16px; /*розмір*/
line-height: 1.5; /*простір між рядками*/
color: #FFFFFF; /*color text*/
margin-bottom: 16px; /*відступи*/
font-family: 'Roboto';
font-style: normal;
align-items: flex-start;
letter-spacing: 0.02em;
}
p {margin: 0;}

.ul-sozial {
    gap: 16px;
    display: flex;
    }

ul-sozial {margin: 0;
padding: 0;}

.li-sozial {
    width: 40px;
    height: 40px;
    list-style-type: none;
}

.href-sozial {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.href-sozial:hover {background-color: #31d0aa;}
.href-sozial:focus {background-color: #31d0aa;}

.icon-ellipse-footer {
    fill: #F4F4FD;}

